body {
    margin: 60px auto;
    width: 70%;
}

.retain {
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    display: block;
    font-size: 1.4em;
    font-weight: bold;
}

nav ul, footer ul, .retain ul {
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}


.retain ul li {
    display: inline;
    margin-right: 5px;
}

li.right {
    float: right;
}

nav.right {
    float: right;
}

.user {
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 50%;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('/assets/user_image.jpg');
}

.hero {
    display: inline-block;
    background: url('/assets/user_image.jpg') right no-repeat;
    background-size: contain;
    padding: 110px 0 100px 0;
    height: auto;
    width: 100%;
    background-color: #FBFBFB;
}

.hero h1 {
    font-size: 120px;
    letter-spacing: -8px;
    margin: 0;
    font-weight: 600;
    line-height: 95px;
    text-transform: uppercase;
}
.hero h1 span {
    color:#a1a9b0;
    /* display:inline-block; */
}
.hero h3 {
    font-size: 20px;
    margin:0;
    padding:0;
    /*opacity:0.5;*/
    color: #913B5E;
    letter-spacing: 18px;
    line-height: 50px;
    text-transform: uppercase;
}
.hero p {
    letter-spacing:1px;
    color:#fff;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #913B5E;
    opacity: 50%;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
