<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{page.title}}</title>
	<link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
	<link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
	<link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
	<link href="/site.webmanifest" rel="manifest">
	<link color="#6a52b9" href="/safari-pinned-tab.svg" rel="mask-icon">
	<meta content="#da532c" name="msapplication-TileColor">
	<meta content="#ffffff" name="theme-color">
	<!-- link to stylesheets -->
	<link href="/css/main.css" rel="stylesheet" type="text/css">
	<link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	{% seo %}
</head>
<body>
<header>
	{% if page.url != "/" %}
	<a href="/">
		<div class="user"></div>
	</a>
	{% endif %}
	<nav class="right">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="http://ode.games" rel="noopener noreferrer" target="_blank">Game Dev</a></li>
			<li><a href="/blog">Blog</a></li>
		</ul>
	</nav>
</header>
<br>
<div class="container">

	{{ content }}

</div><!-- /.container -->
<footer>
	<ul>
		<li><a href="https://linkedin.com/in/rmwiesenberg" rel="noopener noreferrer" target="_blank">linkedin</a></li>
		<li><a href="https://github.com/rmwiesenberg" rel="noopener noreferrer" target="_blank">github</a></li>
	</ul>
</footer>
</body>
</html>
